[submodule "aurora/tools"]
	path = aurora/tools
	url = git@github.com:CosmicFreyjaLab/aurora-tools.git
[submodule "aurora/colorschemes"]
	path = aurora/colorschemes
	url = git@github.com:CosmicFreyjaLab/aurora-colorschemes.git
[submodule "aurora/browser"]
	path = aurora/browser
	url = git@github.com:CosmicFreyjaLab/aurora-browser.git
[submodule "aurora-tokenomics"]
	path = aurora-tokenomics
	url = git@github.com:CosmicFreyjaLab/aurora-tokenomics.git
[submodule "web3-copilot"]
	path = web3-copilot
	url = git@github.com:CosmicFreyjaLab/web3-copilot.git
