[submodule "aurora/backend"]
	path = aurora/backend
	url = git@github.com:CosmicFreyjaLab/aurora-backend.git
[submodule "aurora/tools"]
	path = aurora/tools
	url = git@github.com:CosmicFreyjaLab/aurora-tools.git
[submodule "aurora/colorschemes"]
	path = aurora/colorschemes
	url = git@github.com:CosmicFreyjaLab/aurora-colorschemes.git
[submodule "aurora/browser"]
	path = aurora/browser
	url = git@github.com:CosmicFreyjaLab/aurora-browser.git
